.newChatButton {
  width: 274px;
  height: 57px;
  position: relative;
}
.chatSection {
  width: 311px;
  height: 682px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--standard-text-light-size);
  color: var(--color-black);
  font-family: var(--standard-text-light);
}
