.fynnLogin {
  margin: 0;
  align-self: stretch;
  height: 105px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.textBox {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 24px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-heebo);
  font-size: var(--standard-text-light-size);
  color: var(--color-black);
}
.goals {
  position: absolute;
  top: 0px;
  left: 7px;
  font-size: var(--standard-text-light-size);
  letter-spacing: 0.2em;
  font-family: var(--font-heebo);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 78px;
  height: 29px;
  min-width: 78px;
  z-index: 1;
}
.textBoxParent {
  height: 77px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.loginInputContainerInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) 0px var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.zipCode {
  flex: 1;
  position: relative;
  font-size: var(--standard-text-light-size);
  letter-spacing: 0.2em;
  line-height: 23px;
  font-family: var(--font-heebo);
  color: var(--color-black);
  text-align: left;
}
.zipCodeWrapper {
  width: 311px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-5xs) 0px 9px;
  box-sizing: border-box;
}
.textBox1 {
  border: none;
  background-color: transparent;
  align-self: stretch;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--font-heebo);
  font-size: var(--standard-text-light-size);
  color: var(--color-black);
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.loginInputContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.5px;
  max-width: 100%;
}
.frameChild {
  align-self: stretch;
  height: 27px;
}
.loginInputContainerParent {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.back1 {
  margin: 0;
}
.back {
  flex: 1;
  position: relative;
}
.union1Icon {
  height: 8px;
  width: 7px;
  position: absolute;
  margin: 0 !important;
  bottom: 6px;
  left: 22px;
  object-fit: contain;
  z-index: 1;
}
.backFrame {
  width: 110px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.skip {
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.union1Icon1 {
  height: 9.4px;
  width: 17.2px;
  position: relative;
  flex-shrink: 0;
}
.skipParent {
  width: 127.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.union1Icon2 {
  height: 8px;
  width: 7px;
  position: absolute;
  margin: 0 !important;
  right: 22px;
  bottom: 6px;
  z-index: 1;
}
.navigationContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navigationContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 51px;
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--standard-text-light);
}
.registrationInputs {
  align-self: stretch;
  backdrop-filter: blur(4px);
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 29px var(--padding-42xl) 110px 65px;
  gap: 46px;
  max-width: 100%;
}
.disclaimerTheIncome {
  height: 171px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
  color: #040303;
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.registrationInputsParent {
  width: 532px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.financialInfoInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-black);
  font-family: var(--font-kantumruy);
}
.financialInfo {
  width: 100%;
  height: 1117px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #f0f9ef 19%, #6ebb61 74%);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 218px var(--padding-49xl) var(--padding-64xl);
  gap: var(--gap-10xl);
  opacity: 0.9;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 900px) {
  .fynnLogin {
    font-size: var(--font-size-21xl);
  }

  .financialInfo {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .registrationInputs {
    gap: var(--gap-4xl);
    padding: var(--padding-xl) 30px var(--padding-52xl) 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .fynnLogin {
    font-size: var(--font-size-5xl);
  }

  .goals {
    font-size: var(--font-size-base);
  }

  .zipCode {
    font-size: var(--font-size-base);
    line-height: 18px;
  }

  .navigationContainer {
    flex-wrap: wrap;
  }

  .navigationContainerWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .financialInfo {
    height: auto;
  }
}